@forward "../../page";
@use "/src/vars";

.pages-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  margin-top: 25px;
}

.dashboard-header-title {
  display: flex;
  place-items: center;
  font-size: 18px;
  color: vars.$font-color-main;
  font-weight: 600;
}

.dashboard-balance {
  display: flex;
  align-items: center;
  line-height: 1;
}

.dashboard-balance-capital {
  font-size: 45px;
  color: vars.$font-color-accent;
  
  @media screen and (max-width: 480px) {
    font-size: 30px;
  }
}

.dashboard-balance-currency {
  font-size: 45px;
  color: vars.$font-color-accent;
  margin-left: 10px;

  @media screen and (max-width: 480px) {
    font-size: 30px;
  }
}

.dashboard-balance-additional {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.balance-additional-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.balance-additional-title {
  font-size: 18px;
  font-weight: 800;
  color: vars.$font-color-main;
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}

.balance-additional-amount {
  font-size: 18px;
  font-weight: 800;
  color: vars.$font-color-accent;
  margin-left: auto;
  @media screen and (max-width: 480px) {
    font-size: 14px;
  }
}

.balance-additional-image {
  & svg {
    color: vars.$font-color-main;
    width: 20px;
    height: 20px;

  }
}

.bots-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  @media screen and (max-width: 480px) {
    margin: auto 0;
  }
}

.graph-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  width: 102%;
  min-height: 230px;

  @media screen and (max-width: 480px) {
    margin-top: 10px;
  }
}

.graph-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.graph-overlay-text {
  font-size: 30px;
  color: #78a659;
}

.time-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.time-selection-button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 40px;
}

.time-selection-title {
  font-size: 18px;
  font-weight: 600;
  color: vars.$font-color-main;
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.time-selection-button {
  background-color: transparent;
  border: 1px solid vars.$font-color-main;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  width: 85px;
  padding: 8px;
  color: vars.$font-color-main;

  @media screen and (max-width: 480px) {
    width: 65px;
    padding: 5px;
    font-size: 14px;
  }

  &.selected {
    border-color: vars.$font-color-accent;
    color: vars.$font-color-accent;
  }
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
}

.timeline-date {
  font-size: 14px;
  color: vars.$font-color-main;
}