@use "/src/vars";

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 37px;
  align-items: center;

  @media screen and (max-width: 480px) {
    margin-top: 30px;
  }
}

.navbar-title {
  font-size: 25px;
  font-weight: 600;
  color: vars.$font-color-main;
}

.navbar-button {
  display: flex;
  place-items: center;
  color: vars.$font-color-main;
  & svg {
    width: 25px;
    height: 25px;
  }
}

.navbar-gradient {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: -73px;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 0.3;
}