@use "/src/vars";
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: vars.$background-color-accent;
}

.footer-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.selected {
    & .footer-icon {
      & svg {
        color: vars.$font-color-accent;
      }
    }

    & .footer-text {
      color: vars.$font-color-accent;
    }
  }
}

.footer-text {
  font-size: 14px;
  color: vars.$font-color-main;
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;

  & svg {
    width: 35px;
    height: 35px;
    color: vars.$font-color-main;
  }

  &#settings {
    & svg{
      width: 40px;
      height: 40px;
    }
  }

  &#list {
    & svg {
      width: 30px;
      height: 30px;
    }
  }
}

.footer-icon-notification-bubble {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -2px;
  right: -2px;
  background-color: orange;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 900;

  @media screen and (max-width: 480px) {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
}